<div class="main-container">
    <div class="rood-container">
        <div class="img-container">
           <%= image_tag("logo.png", alt: "logo", class:"logo") %>
        </div>
        <div class="btn-container">
          <div class="w-90">
            <%= link_to "LOG IN", new_user_session_path, class: "btn btn-primary w-100", style: "background-color: #3778c2; color: white;" %>
          </div>
          <div class="w-90 mt-2">
            <%= link_to "SIGN UP", new_user_registration_path, class: "btn btn-outline-dark w-100", style: "color: #434b54; border-color: #434b54;" %>
          </div>
        </div>
    </div>
</div>